#contact-container {
    margin: 5rem 0 3rem 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    h3 {
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    a {
        text-decoration: none;
        color: #1F67F1;
    }

    @media (max-width: 1080px) {
        grid-template-columns: 1fr;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & > div {
            display: flex;
            gap: 1rem;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
        }
    }
}

#toast-container {
    background-color: #1F67F1;
    border-radius: 10px;
    color: white;

    padding: 1rem;
    margin: 2rem;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    display: none;
    align-items: center;
    gap: 1rem;

    svg {
        height: 16px;
        width: 16px;
        fill: white !important;

        cursor: pointer;
    }
}
