#presentation-description {
    margin: 4rem auto;
    max-width: 580px;
    line-height: 1.6;

    font-weight: lighter;
}

#presentation-container {
    margin-top: 2.5rem;
    position: relative;

    .presentation-image {
        position: absolute;
        inset: 0;
        border-radius: 4rem;

        @media screen and (max-width: 767.99px) {
            border-radius: 2rem;
        }
    }

    img {
        margin-top: 4.5rem;
        height: 280px;
        width: 176px;

        object-fit: cover;
        border-radius: inherit;

        box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);

        @media screen and (min-width: 768px) and (max-width: 1023.99px) {
            margin-top: 2.6rem;
            height: 249px;
            width: 157px;
        };

        @media screen and (max-width: 767.99px) {
            margin-top: 1rem;
            height: 148px;
            width: 93px;
        }
    }
}

small {
    position: absolute;
    inset: 0;
    margin-top: -3rem;
}

header {
    h1 {
        @media screen and (max-width: 767.99px) {
            font-size: 5rem;
            letter-spacing: -0.4rem;
            line-height: 1.2;
            transform: scaleY(1.5);
        }
    }
}
